body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #000;
}

/* HEADER */
header {
    background-color: #f8c8dc; /* rosado pastel */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #000;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

/* SECCIONES */
section {
    padding: 30px;
    margin: 20px;
    background-color: #ffffff;
    border-left: 6px solid #d3d3d3; /* gris */
    border-radius: 8px;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #f8c8dc;
    color: #000;
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
